# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Build outputs
frontend/dist/
frontend/dist-ssr/
backend/public/build/
backend/public/hot/
backend/public/storage/

# Logs & cache
*.log
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# IDE and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

.vercel
.env*
